@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Play:wght@400;700&display=swap');

#jeopardyBoard td, th {
	border: 1px solid black;
	padding: 30px 15px;
	font-size: 3em;
	width: 15%;
	text-align: center;
	color: #e6d115;
	background-color: #036bfc;
	font-family: "Play", sans-serif;
	font-weight: 700;
	font-style: normal;
}

#header {
	text-align: center;
	font-family: "Bungee Inline", sans-serif;
	font-size: 60px;
  	font-weight: 400;
  	font-style: normal;
  	color: white;
}

#scorelink {
	font-family: "Bungee Inline", sans-serif;
	font-size: 40px;
  	font-weight: 400;
  	font-style: normal;
  	color: white;
}

.modalBox {
	width: 100vw;
	height: 100vh;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	transform: translate(-50%, -50%);
	padding: 100px;
	background-color: white;
	color: black;
	font-size: 2.5em;
}

body {
	background-color: #5c5b5a;
}